@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .active-route {
    @apply flex flex-row space-x-2 text-white font-medium bg-dark-100 py-2 px-3 rounded-xl border border-white;
  }

  .inactive-route {
    @apply flex flex-row space-x-2 text-white font-medium py-2 px-3 rounded-xl;
  }

  .button {
    @apply text-white text-xl font-bold p-2 rounded-full text-center bg-primary-blue hover:bg-secondary-blue shadow-md shadow-primary-blue/50 cursor-pointer;
  }
}
