@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .active-route {
    @apply font-bold flex flex-row space-x-2 text-white text-xl bg-dark-100 transition delay-100 duration-100 ease-in-out py-2 px-3 rounded-xl cursor-pointer;
  }

  .inactive-route {
    @apply flex flex-row space-x-2 hover:bg-dark-100 text-dark-600 text-xl font-medium py-2 px-3 rounded-xl cursor-pointer;
  }

  .button {
    @apply text-white text-xl font-bold p-2 rounded-xl text-center bg-primary-blue hover:bg-secondary-blue shadow-lg cursor-pointer transition delay-100 ease-in-out;
  }

  .form-property {
    @apply flex w-1/2 justify-between bg-dark-100 rounded-lg  p-5 border border-dark-200;
  }

  .default-bg-class {
    @apply w-full bg-gradient-to-r from-dark-100 via-dark-200 to-dark-100;
  }
}
